<div class="row-fluid">
  <div class="span10 item-box">
    <h1>
      <%= link_to @task.phase.project.title, @task.phase.project %> / 
      <%= link_to @task.phase.title, @task.phase %><br />  / 
      <%= @task.title %>
    </h1>
    <p>
      <p>
        <% if @task.is_done == true %>
          (This task is done)
        <% end %>
      </p>
      <div class="actions">
        <div class="btn-group">
          <% unless @task.is_done %>
            <%= link_to 'Done', task_done_path(@task), method: :post, 
                        :class => 'btn btn-mini btn-success',
                        data: { confirm: "Really mark this task as done?" } %>
            <%= link_to 'Make Event', new_task_event_path(@task), 
                        :class => 'btn btn-mini btn-info' %>
          <% end %>
          
          <%= link_to 'Edit', edit_task_path(@task), 
                      :class => 'btn btn-mini btn-warning' %>
          <%= link_to 'Delete', @task, method: :delete,
                      data: { confirm: "Are You Sure?"},
                      remote: true, # Ajax call
                      :class => 'btn btn-mini btn-danger' %>
        </div>
      </div><!-- End Actions -->
      <div class="events-list offset1">
        <h2>All Events For This Task:</h2>
        <% if @all_events.empty? %>
          <small>No Events</small>
        <% else %>
          <% @all_events.each do |event| %>
            <%= render event %>
          <% end %>
        <% end %>
      </div>
    </p>
  </div>
</div>