<div class="row-fluid">
  <div class="span7">
    <h1>Edit Contact Details</h1>
    <%= form_for @contact do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :name %> <small>(of the person)</small>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :role %> <small>(Drummer? Guitarist? Manager?)</small>
        <%= f.text_field :role %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class="actions input-append">
        <%= f.submit 'Save', class: "btn btn-large btn-primary" %>
        <%= link_to 'Cancel', client_path(@contact.client), class: "btn btn-large" %>
      </div>
    <% end %><!-- END Form -->
  </div>
</div>